<%- include partials/header %>
<%- include partials/main_nav %>
<main>
    <div class="homeContainer">
      <h1 class="home-title">Welcome to  <%= title %></h1>
        <a href="/blockbuster" id="start-button"
             class="btn " style="background-color:#FFCC00">
             <i class="fa-solid fa-clapperboard"></i> Get Started </a> 
    </div>
</main>



<%- include partials/bottom_nav %>
<%- include partials/footer %>
