<%- include ../partials/header %>
<%- include ../partials/main_nav %>
<main class="container">
    
      <div class="row">
        <div class="col-md-offset-3 col-md-12"> <!--web page can contain max of 8 columns, if you want to change it, change col-md-8-->
            <h1 class="recipe-title"><%= title %></h1>
            <br>
            <a href="/blockbuster/add" class="btn btn-primary" role="button">
              <i class="fas fa-plus-circle"></i> Rent a Movie </a>
            <br> 
            <br>
      
      <!-- displays the table headers (th) and displays table content (td)-->
      <table class="table table-bordered table-striped table-hover">
      <tr> 
        <th class="text-center col-2" style="color:white"> User </th>
        <th class="text-center col-2" style="color:white"> Subscription Tier </th>
        <th class="text-center col-2" style="color:white"> Movie Name </th>
        <th class="text-center col-1" style="color:white"> Rent Date </th>
        <th class="text-center col-2" style="color:white"> Return Date </th>
        <th class="text-center col-1" style="color:white"> Edit </th>
        <th class="text-center col-1" style="color:white"> Delete </th>
      </tr>
      <% for(let count=0; count<MovieList.length; count++) { %> 
        <tr> 
            <td class="text-center col-2" style="color:white"> <%= MovieList[count].user %> </td>
            <td class="text-center col-2" style="color:white"> <%= MovieList[count].subscriptionTier %></td>
            <td class="text-center col-2" style="color:white"> <%= MovieList[count].movieName %></td>
            <td class="text-center col-2" style="color:white"> <%= MovieList[count].rentDate %></td>
            <td class="text-center col-2" style="color:white"> <%= MovieList[count].returnDate %></td>
            <td class="text-center col-1" style="color:white">
             <a href="/blockbuster/edit/<%= MovieList[count]._id %>"
             class="btn btn-primary" style="background-color:#d4b52f" >
             <i class="fas fa-pencil-alt" ></i> Edit </a> </td>
            <td class="text-center col-1">
             <a href="/blockbuster/delete/<%= MovieList[count]._id %>"
             class="btn btn-danger">
             <i class="fas fa-trash-alt"></i> Delete </a> </td>
        </tr> 
      <% } %>
      </table>
      
      </div>
      </div>
    
 
</main>



<%- include ../partials/bottom_nav %>
<%- include ../partials/footer %>
